<html lang="fr">
	<head>
	<script src="../tarteaucitron/tarteaucitron.js"></script>

    <script type="text/javascript">
		tarteaucitron.init({
		"privacyUrl": "", /* Privacy policy url */
		"bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

		"hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
		"cookieName": "tarteaucitron", /* Cookie name */

		"orientation": "middle", /* Banner position (top - bottom) */
	
		"groupServices": false, /* Group services by category */
		"showDetailsOnClick": true, /* Click to expand the description */
		"serviceDefaultState": "wait", /* Default state (true - wait - false) */
						
		"showAlertSmall": false, /* Show the small banner on bottom right */
		"cookieslist": false, /* Show the cookie list */
						
		"closePopup": false, /* Show a close X on the banner */

		"showIcon": true, /* Show cookie icon to manage cookies */
		//"iconSrc": "", /* Optionnal: URL or base64 encoded image */
		"iconPosition": "BottomLeft", /* BottomRight, BottomLeft, TopRight and TopLeft */

		"adblocker": false, /* Show a Warning if an adblocker is detected */
						
		"DenyAllCta" : true, /* Show the deny all button */
		"AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
		"highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
		"alwaysNeedConsent": false, /* Ask the consent for "Privacy by design" services */
						
		"handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

		"removeCredit": false, /* Remove credit link */
		"moreInfoLink": true, /* Show more info link */

		"useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
		"useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

		//"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
						
		"readmoreLink": "", /* Change the default readmore link */

		"mandatory": true, /* Show a message about mandatory cookies */
		"mandatoryCta": true, /* Show the disabled accept button when mandatory on */

		//"customCloserId": "", /* Optional a11y: Custom element ID used to open the panel */
		
		"googleConsentMode": true, /* Enable Google Consent Mode v2 for Google ads and GA4 */
		
		"partnersList": false /* Show the number of partners on the popup/middle banner */
		});
    </script>
    <script type="text/javascript">
        tarteaucitron.user.gtagUa = 'G-F8JJG36965';
        // tarteaucitron.user.gtagCrossdomain = ['example.com', 'example2.com'];
        tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */ };
        (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
    </script>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{% if description is defined %} {{description}} {% else %} {{constant('WEBSITE_DESCRIPTION')}} {% endif %}">
		<title>{{constant('WEBSITE_TITLE')}} {{ title }}</title>
		<script src="../js/aside.js"></script>
		<link rel="icon" type="image/x-icon" href="../asset/PetitLogoGkSansFondRouge.ico">
		<link href="../css/output.css" rel="stylesheet">
		<link href="../css/scrollbar.css" rel="stylesheet">
	</head>
	<body class="font-['Segoe UI'] min-h-dvh text-white text-sm lg:text-md">
		<main class="flex flex-col">
			<!-- Header -->
			<header
				class="flex justify-between items-center min-h-16 px-7 bg-principal text-white">
				
				<!-- logo -->
				<a href="index.php?controlleur=index&methode=lister">
					<img src="../asset/PetitLogoGkSansFondBlanc.svg" alt="logo" class="max-w-10 max-h-10">
				</a>

				<!-- navbar -->
				<nav id="menu" class="flex flex-row justify-between items-center gap-4 md:gap-8 bg-principal">
					<div class="hidden md:flex md:flex-col md:items-center">
						<a href="index.php?controlleur=index&methode=lister" class=""><img src="../asset/icones/house.svg" alt="home" class="h-6 w-6"></a>
						<p class="hidden lg:block">Accueil</p>
					</div>

					<div class="flex flex-col items-center">
						<a href="index.php?controlleur=categorie&methode=lister" class=""><img src="../asset/icones/ui-checks-grid.svg" alt="cate" class="h-6 w-6"></a>
						<p class="hidden lg:block">Catégorie</p>
					</div>

					{% if user.estAdmin == False or user.role == 'user' %}
					<div class="flex flex-col items-center">
						<a href="index.php?controlleur=propEv&methode=lister" class=""><img src="../asset/icones/file-plus.svg" alt="propEv" class="h-6 w-6"></a>
						<p class="hidden lg:block">Créer</p>
					</div>
					{% elseif user.role == 'moderateur' %}
					<div class="flex flex-col items-center">
						<a href="index.php?controlleur=propActu&methode=lister" class=""><img src="../asset/icones/file-plus.svg" alt="propActu" class="h-6 w-6"></a>
						<p class="hidden lg:block">Créer</p>
					</div>
					
					<div class="flex flex-col items-center">
						<a href="index.php?controlleur=validPropEv&methode=lister" class=""><img src="../asset/icones/layout-text-sidebar-reverse.svg" alt="listEv" class="h-6 w-6"></a>
						<p class="hidden lg:block">Proposition</p>
					</div>
					
					{% endif %}

					<div class="flex flex-col items-center">
						<a href="/" class=""><img src="../asset/icones/funnel.svg" alt="home" class="h-6 w-6"></a>
						<p class="hidden lg:block">Trier</p>
					</div>

					<form class="flex gap-2 items-center border-2 border-solid border-white rounded-full px-2 py-1">
						<button>
							<svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
								<path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
						</button>
						<input class="bg-principal outline-none md:block hidden" placeholder="Type your text" required="" type="text">
						<button class="reset" type="reset" class="md:block hidden">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
								<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
							</svg>
						</button>
					</form>

				</nav>
				<!-- compte btn -->
				{% if user != null %} 
					<div class="flex items-center space-x-4">
						<span class="text-white"></span>
						<a href="index.php?controlleur=compte&methode=lister" class="flex items-center justify-center border-2 border-solid border-white rounded-full p-2">
							<img src="../asset/icones/person.svg" alt="profil" class="h-6 w-6">
						</a>
					</div>
				{% else %}
					<a href="index.php?controlleur=connexion&methode=lister" class="flex items-center justify-center border-2 border-solid border-white rounded-full p-2">
						<img src="../asset/icones/person.svg" alt="profil" class="h-6 w-6">
					</a>
				{% endif %}
			</header>

			<!-- Content -->
			<div id="grid-container" class="lg:pr-2 lg:py-2 lg:grid lg:md:grid-cols-[200px_1fr] lg:overflow-hidden lg:flex-auto ">
				

				<div id="left-column" class="pr-2 scrollable hidden lg:block">
					<aside class="flex flex-col justify-center bg-principal gap-2 font-['Sen'] text-[#ffffff] scrollable p-2">
						<h1 class="text-xl text-white text-center">ACTUS</h1>

						{% for actualite in actualites %}
						
                            <FORM ACTION="index.php?controlleur=evtActu&methode=lister" METHOD="POST">
								<INPUT TYPE="hidden" NAME="nom" VALUE="{{actualite.titre}}">
								<INPUT TYPE="hidden" NAME="id" VALUE={{actualite.ActuId}}>
								<INPUT TYPE="hidden" NAME="type" VALUE="Actualites"> 
									<div class="p-2 grid grid-cols-1 items-center rounded-lg bg-white drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]">
										
											<INPUT TYPE="SUBMIT" VALUE="{{ actualite.titre }}" class="text-black text-center text-wrap">
										
										<img src="../asset/actualite/{{ actualite.img }}" alt="illustration" class="h-full w-full object-cover rounded-lg">
									</div>
                            </FORM>
						{% endfor %}
					</aside>
				</div>



				<!-- content -->
				<div id="right-column" class="h-min">
					<!-- Fil d'Ariane -->
					<nav class="hidden lg:block lg:items-center text-principal space-x-2 p-4 border-4 bg-white border-principal drop-shadow-[0_5px_5px_rgba(0,0,0,0.3)]"></nav>

					<!-- Contenu spécifique de chaque page -->
					<div>
						{% block content %}
							<!-- Contenu des pages filles sera inséré ici -->
						{% endblock %}
					</div>
				</div>

			</div>

			<footer class="grid grid-cols-12 bg-principal text-white text-sm lg:text-md p-4">
				<div class="row-start-1 col-span-12 col-start-1 grid grid-cols-subgrid">

					<div class="row-start-1 col-start-1 col-span-12 lg:row-start-1 lg:col-span-4 lg:col-start-1 p-4 flex flex-col text-left"> 
						<h2 class="text-lg underline mb-1">Nous suivre</h2>
						<div class="flex gap-6 items-center mt-1">
							<a href="/" target="_blank" class="text-white">
								<img src="../asset/icones/facebook.svg" alt="facebook" class="h-6 w-6">
							</a>
							<a href="/" target="_blank" class="text-white">
								<img src="../asset/icones/instagram.svg" alt="instagram" class="h-6 w-6">
							</a>
							<a href="/" target="_blank" class="text-white">
								<img src="../asset/icones/twitter-x.svg" alt="x" class="h-6 w-6">
							</a>
							<a href="/" target="_blank" class="text-white">
								<img src="../asset/icones/linkedin.svg" alt="linkedin" class="h-6 w-6">
							</a>
							<a href="/" target="_blank" class="text-white">
								<img src="../asset/icones/github.svg" alt="github" class="h-6 w-6">
							</a>
						</div>
						<br>
						<a href="/" target"_blank" class="text-white mt-2 underline ">Inscivez-vous à notre NewsLetter !</a>
					</div>

					<div class="row-start-2 col-start-1 col-span-12 lg:row-start-1 lg:col-span-4 lg:col-start-5 p-4 lg:border-x-2 lg:border-x-solid lg:border-x-white flex flex-col text-left">
						<h2 class="text-lg underline mb-1">Nous contacter</h2>
						<p>Adresse : 2 Allée du Parc Montaury, 64600 Anglet, France</p>
						<p>Téléphone : +33 6 07 08 09 10</p>
						<p>Email : gurekultura@gmail.com</p>
					</div>

					<div class="row-start-3 col-start-1 col-span-12 lg:row-start-1 lg:col-span-4 lg:col-start-9 p-4 flex flex-col text-left">
						<h2 class="text-lg underline mb-1">À propos</h2>
						<p>Le site Gk est un site d'actualités et d'événements locaux. Il a pour but de vous informer sur les actualités et les événements de votre région.</p>
					</div>
				</div>

				{# <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/" class="row-start-4 col-span-12 col-start-1 text-center p-4">
					<a property="dct:title" rel="cc:attributionURL" href="http://localhost/GK/GureKultura/php/">Gurekultura</a>
					by
					<a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="http://localhost/GK/GureKultura/php/index.php?controlleur=inscription&methode=lister">Groupe 7</a>
					is licensed under
					<a href="https://creativecommons.org/licenses/by-nd/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" class="flex flex-row gap-2 items-center justify-center">CC BY-ND 4.0
						<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="">
						<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="">
						<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1" alt="">
					</a>
				</p> #}


				
			</footer>
		</main>
	</body>
</html>
