{% extends "base.html.twig" %}

{% block content %}
<!-- Contenu spécifique de chaque page -->
<div>
    <div class="gap-2 p-2 grid grid-cols-12 items-center">
        
        <h2 class="row-start-1 col-start-2 col-span-10 text-2xl lg:text-4xl font-semibold text-center text-title uppercase lg:font-extrabold">{{ title }} - {{ type }}</h2>
        {% if evtActusEnCours is not empty %}
            <h3 class="row-span-2 bg-form col-span-12 text-title font-bold text-3xl text-left">{{ type }} en cours</h3>

            <div id="carousel1" class="row-span-3 col-span-12 relative w-full overflow-hidden mx-auto bg-carousel opacity-75 rounded-lg" data-slides-default="1" data-slides-mobile="1">
                <!-- Conteneur du carrousel -->
                <div  id="carousel" class="carousel flex transition-transform duration-500 ease-out gap-2 p-2">
                    <!-- Diapositives -->
                    {% for evtActuEnCours in evtActusEnCours %}
                        {% if type == 'Evenements' %} 
                            <div style="background-image: url('../asset/evenement/photo/{{ evtActuEnCours.photo }}')" class="bg-cover bg-no-repeat slide md:w-1/3 w-full flex-shrink-0 text-text text-center py-16 rounded-lg relative">

                            {% endif %}
                        {% if type == 'Actualites' %} 
                            <div style="background-image: url('../asset/actualite/{{ evtActuEnCours.img }}')" class="bg-cover bg-no-repeat slide md:w-1/3 w-full flex-shrink-0 text-text text-center py-16 rounded-lg relative">
                        {% endif %}
                            <FORM ACTION="index.php?controlleur=evtActu&methode=lister" METHOD="POST">
                                <INPUT TYPE="hidden" NAME="nom" VALUE="{{evtActuEnCours.titre}}">
                                {% if type == 'Evenements' %} 
                                    <INPUT TYPE="hidden" NAME="id" VALUE={{evtActuEnCours.evtId}}>
                                {% endif %}
                                {% if type == 'Actualites' %} 
                                    <INPUT TYPE="hidden" NAME="id" VALUE={{evtActuEnCours.actuId}}> 
                                {% endif %}
                                <INPUT TYPE="hidden" NAME="type" VALUE="{{ type }}"> 
                                <INPUT TYPE="SUBMIT" VALUE="{{ evtActuEnCours.titre }}" class="bg-white border-text font-semibold absolute inset-x-0 bottom-0 text-center rounded-lg p-2 mr-2 ml-2 mb-2">
                            </FORM>
                        </div>
                    {% endfor %}
                </div>
                <!-- Boutons de navigation -->
                <button id="prev1" class="absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full"><</button>
                <button id="next1" class="absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full">></button>
            </div>
        {% endif %}
        {% if evtActusEnCours is empty %}
            {% if type == 'Evenements' %}
                <h3 class="row-span-2 col-span-12 text-title font-bold text-3xl text-left p-6">Aucun {{ type }} en cours</h3>
            {% endif %}
            {% if type == 'Actualites' %}
                <h3 class="row-span-2 col-span-12 text-title font-bold text-3xl text-left p-6">Aucune {{ type }} en cours</h3>
            {% endif %}
        {% endif %}


        {% if evtActusASuivre is not empty %}
            <h3 class="row-span-4 col-span-12 text-title font-bold text-3xl text-left">{{ type }} à venir</h3>

            <div id="carousel2" class="row-span-6 col-span-12 relative w-full overflow-hidden mx-auto bg-carousel opacity-75 rounded-lg" data-slides-default="1" data-slides-mobile="1">
                <!-- Conteneur du carrousel -->
                <div  id="carousel" class="carousel flex transition-transform duration-500 ease-out gap-2 p-2">
                    <!-- Diapositives -->
                    {% for evtActuASuivre in evtActusASuivre %}
                        {% if type == 'Evenements' %} 
                            <div style="background-image: url('../asset/evenement/photo/{{ evtActuASuivre.photo }}')" class="bg-cover bg-no-repeat slide md:w-1/3 w-full flex-shrink-0 text-text text-center py-16 rounded-lg relative">

                            {% endif %}
                        {% if type == 'Actualites' %} 
                            <div style="background-image: url('../asset/actualite/{{ evtActuASuivre.img }}')" class="bg-cover bg-no-repeat slide md:w-1/3 w-full flex-shrink-0 text-text text-center py-16 rounded-lg relative">
                        {% endif %}
                            <FORM ACTION="index.php?controlleur=evtActu&methode=lister" METHOD="POST">
                                <INPUT TYPE="hidden" NAME="nom" VALUE="{{evtActuASuivre.titre}}"> 
                                {% if type == 'Evenements' %} 
                                    <INPUT TYPE="hidden" NAME="id" VALUE={{evtActuASuivre.evtId}}>
                                {% endif %}
                                {% if type == 'Actualites' %} 
                                    <INPUT TYPE="hidden" NAME="id" VALUE={{evtActuASuivre.actuId}}> 
                                {% endif %}
                                <INPUT TYPE="hidden" NAME="type" VALUE="{{ type }}"> 
                                <INPUT TYPE="SUBMIT" VALUE="{{ evtActuASuivre.titre }}" class="bg-white border-text font-semibold absolute inset-x-0 bottom-0 text-center rounded-lg p-2 mr-2 ml-2 mb-2">
                            </FORM>
                        </div>
                    {% endfor %}
                </div>
                <!-- Boutons de navigation -->
                <button id="prev2" class="absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full"><</button>
                <button id="next2" class="absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full">></button>
            </div>
        {% endif %}
        {% if evtActusASuivre is empty %}
            {% if type == 'Evenements' %}
                <h3 class="row-span-2 col-span-12 text-title font-bold text-3xl text-left p-6">Aucun {{ type }} à venir</h3>
            {% endif %}
            {% if type == 'Actualites' %}
                <h3 class="row-span-2 col-span-12 text-title font-bold text-3xl text-left p-6">Aucune {{ type }} à venir</h3>
            {% endif %}
        {% endif %}


        {% if evtActusPasser is not empty %}
            <h3 class="row-span-5 col-span-12 text-title font-bold text-3xl text-left">{{ type }} passer</h3>
            
            <div id="carousel3" class="row-span-6 col-span-12 relative w-full overflow-hidden mx-auto bg-carousel opacity-75 rounded-lg" data-slides-default="1" data-slides-mobile="1">
                <!-- Conteneur du carrousel -->
                <div  id="carousel" class="carousel flex transition-transform duration-500 ease-out gap-2 p-2">
                    <!-- Diapositives -->
                    {% for evtActuPasser in evtActusPasser %}
                        {% if type == 'Evenements' %} 
                            <div style="background-image: url('../asset/evenement/photo/{{ evtActuPasser.photo }}')" class="bg-cover bg-no-repeat slide md:w-1/3 w-full flex-shrink-0 text-text text-center py-16 rounded-lg relative">

                            {% endif %}
                        {% if type == 'Actualites' %} 
                            <div style="background-image: url('../asset/actualite/{{ evtActuPasser.img }}')" class="bg-cover bg-no-repeat slide md:w-1/3 w-full flex-shrink-0 text-text text-center py-16 rounded-lg relative">
                        {% endif %}
                            <FORM ACTION="index.php?controlleur=evtActu&methode=lister" METHOD="POST">
                                <INPUT TYPE="hidden" NAME="nom" VALUE="{{evtActuPasser.titre}}"> 
                                {% if type == 'Evenements' %} 
                                    <INPUT TYPE="hidden" NAME="id" VALUE={{evtActuPasser.evtId}}>
                                {% endif %}
                                {% if type == 'Actualites' %} 
                                    <INPUT TYPE="hidden" NAME="id" VALUE={{evtActuPasser.actuId}}> 
                                {% endif %}
                                <INPUT TYPE="hidden" NAME="type" VALUE="{{ type }}"> 
                                <INPUT TYPE="SUBMIT" VALUE="{{ evtActuPasser.titre }}" class="bg-white border-text font-semibold absolute inset-x-0 bottom-0 text-center rounded-lg p-2 mr-2 ml-2 mb-2">
                            </FORM>
                        </div>
                    {% endfor %}
                </div>
                <!-- Boutons de navigation -->
                <button id="prev3" class="absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full"><</button>
                <button id="next3" class="absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full">></button>
            </div>
        {% endif %}
        {% if evtActusPasser is empty %}
            {% if type == 'Evenements' %}
                <h3 class="row-span-2 col-span-12 text-title font-bold text-3xl text-left p-6">Aucun {{ type }} passer</h3>
            {% endif %}
            {% if type == 'Actualites' %}
                <h3 class="row-span-2 col-span-12 text-title font-bold text-3xl text-left p-6">Aucune {{ type }} passer</h3>
            {% endif %}
        {% endif %}

    </div>
</div>
<script src="../js/caroussel.js"></script>
{% endblock %}
