{% extends "base.html.twig" %}

{% block content %}
	<!-- Contenu spécifique de chaque page -->
	<div class="lg:pt-2">
		<div
			class="bg-cover bg-no-repeat bg-[url('../asset/bg_img.svg')] gap-2 p-2 grid grid-cols-12 items-center">

			{# titre de la page #}
			<h1 class="col-span-12 text-white lg:font-bold lg:text-4xl text-2xl text-center bg-[#A23145] rounded-2xl p-4 drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] mb-10">Votre compte
			</h1>

			{# colonne de gauche #}
			<div
				class="lg:grid lg:grid-cols-subgrid lg:row-start-2 lg:col-start-1 lg:col-span-6 lg:w-full h-full lg:gap-2 col-start-1 col-span-12 row-start-2 p-2">
				{# bloc #}
				<div class="grid grid-cols-subgrid row-start-1 col-span-6 bg-[#A23145] bg-opacity-75 text-white rounded-2xl p-4 w-full gap-1">
					<h1 class="row-start-1 col-span-6 text-xl">Informations personnelles</h1>

					<div class="grid grid-cols-subgrid row-start-2 col-span-6 text-white rounded-2xl py-2 w-full items-center">
						<label class="text-white lg:col-span-2 lg:text-lg col-span-1 text-sm">Nom</label>
						<label class="text-[#bfbfbf] col-start-2 col-span-2 lg:col-start-3 lg:col-span-2">{{ user.nom }}</label>
						<button arial-label="b_modifierNom" class="lg:col-start-5 lg:col-span-2 flex items-center justify-center max-h-1 text-[#A23145] bg-white border-2 border-solid border-[#A23145] rounded-lg p-4 lg:font-normal drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] lg:text-lg col-start-4 col-span-3 text-sm">Modifier</button>
					</div>

					<div class="grid grid-cols-subgrid row-start-3 col-span-6 text-white rounded-2xl py-2 w-full items-center">
						<label class="text-white lg:col-span-2 lg:text-lg col-span-1 text-sm ">Email</label>
						<label class="text-[#bfbfbf] col-start-2 col-span-2 lg:col-start-3 lg:col-span-2">{{ user.email }}</label>
						<button arial-label="b_modifierEmail" class="lg:col-start-5 lg:col-span-2 flex items-center justify-center max-h-1 text-[#A23145] bg-white border-2 border-solid border-[#A23145] rounded-lg p-4 lg:font-normal drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] lg:text-lg col-start-4 col-span-3 text-sm">Modifier</button>
					</div>

					<div class="grid grid-cols-subgrid row-start-4 col-span-6 text-white rounded-2xl py-2 w-full items-center">
						<label class="text-white lg:col-span-2 lg:text-lg col-span-1 text-sm ">Téléphone</label>
						<label class="text-[#bfbfbf] col-start-2 col-span-2 lg:col-start-3 lg:col-span-2">{{ user.telephone}}</label>
						<button arial-label="b_modifierTel" class="lg:col-start-5 lg:col-span-2 flex items-center justify-center max-h-1 text-[#A23145] bg-white border-2 border-solid border-[#A23145] rounded-lg p-4 lg:font-normal drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] lg:text-lg col-start-4 col-span-3 text-sm">Modifier</button>
					</div>

					<div class="grid grid-cols-subgrid row-start-5 col-span-6 text-white rounded-2xl py-2 w-full items-center">
						<label class="text-white lg:col-span-2 lg:text-lg col-span-1 text-sm ">Adresse</label>
						<label class="text-[#bfbfbf] col-start-2 col-span-2 lg:col-start-3 lg:col-span-2">{{ user.adresse }}</label>
						<button arial-label="b_modifierAddresse" class="lg:col-start-5 lg:col-span-2 flex items-center justify-center max-h-1 text-[#A23145] bg-white border-2 border-solid border-[#A23145] rounded-lg p-4 lg:font-normal drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] lg:text-lg col-start-4 col-span-3 text-sm">Modifier</button>
					</div>

					<div class="grid grid-cols-subgrid row-start-6 col-span-6 text-white rounded-2xl py-2 w-full items-center">
						<label class="text-white lg:col-span-2 lg:text-lg col-span-1 text-sm ">Photo de profil</label>
						<img src="{{ user.photo }}" class="lg:col-start-3 lg:col-span-1 col-start-2 col-span-2 h-auto" /img>
						<button arial-label="b_modifierPfp" class="lg:col-start-5 lg:col-span-2 flex items-center justify-center max-h-1 text-[#A23145] bg-white border-2 border-solid border-[#A23145] rounded-lg p-4 lg:font-normal drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] lg:text-lg col-start-4 col-span-3 text-sm">Modifier</button>
					</div>

					<div class="grid grid-cols-subgrid row-start-7 col-span-6 text-white rounded-2xl py-2 w-full items-center">
						<label class="text-white col-span-3 lg:text-lg text-sm">Supprimer mon compte</label>
						<button arial-label="b_SupprCompte" class="lg:col-start-5 lg:col-span-2 flex items-center justify-center max-h-1 text-[#A23145] bg-white border-2 border-solid border-[#A23145] rounded-lg p-4 lg:font-normal drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] lg:text-lg col-start-4 col-span-3 text-sm">Supprimer</button>
					</div>
				</div>
				<div class="grid grid-cols-subgrid row-start-2 col-span-6 bg-[#A23145] bg-opacity-75 text-white rounded-2xl p-4 w-full h-fit ">
				<button class="lg:col-start-1 lg:col-span-2 flex items-center justify-center max-h-1 text-[#A23145] bg-white border-2 border-solid border-[#A23145] rounded-lg p-4 lg:font-normal drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] lg:text-lg col-start-4 col-span-1 text-sm"> Déconnexion </button>
				<button class="lg:col-start-4 lg:col-span-3 flex items-center justify-center max-h-1 text-[#A23145] bg-white border-2 border-solid border-[#A23145] rounded-lg p-4 lg:font-normal drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] lg:text-lg col-start-5 col-span-1 text-sm"> Supprimer mon compte </button>
				</div>
			</div>


			{# colonne de droite #}
			<div
				class="lg:grid lg:grid-cols-subgrid lg:row-start-2 lg:col-start-7 lg:col-span-6 lg:w-full lg:gap-2 lg:h-full col-start-1 col-span-12 row-start-3 flex flex-col gap-2 p-2">
				{# premier bloc #}
				<div class="grid grid-cols-subgrid row-start-1 col-span-6 bg-[#A23145] bg-opacity-75 text-white rounded-2xl p-4 w-full">
					<h1 class="row-start-1 col-span-6 text-xl">
						Changer mon mot de passse</h1>
					<form action="" class="lg:col-start-1 lg:col-span-6 col-start-1 col-span-12 flex flex-col gap-2">
						<div class="grid grid-cols-subgrid row-start-2 col-span-6  text-white rounded-2xl py-2 w-full">
							<label class="text-white col-span-3 lg:text-lg text-sm">Mot de passe actuel :</label>
							<input type="text" id="lieu" name="lieu" class="col-start-4 col-span-3 border-2 border-[#A23145] rounded-lg lg:pl-2 pl-1 text-[#bfbfbf] w-full lg:py-2 py-1 lg:text-lg text-sm" placeholder="Saisir votre mot de passe ...">
						</div>

						<div class="grid grid-cols-subgrid row-start-3 col-span-6  text-white rounded-2xl py-2 w-full">
							<label class="text-white col-span-3 lg:text-lg text-sm">Nouveau mot de passe :</label>
							<input type="text" id="lieu" name="lieu" class="col-start-4 col-span-3 border-2 border-[#A23145] rounded-lg lg:pl-2 pl-1 text-[#bfbfbf] w-full lg:py-2 py-1 lg:text-lg text-sm" placeholder="Saisir nouveau mot de passe ...">
						</div>

						<div class="grid grid-cols-subgrid row-start-4 col-span-6  text-white rounded-2xl w-full py-2">
							<a href="index.php?controlleur=mdpOublie&methode=lister" class="text-white col-span-3 lg:text-lg text-sm">Mot de passe oublié ?</a>
							<button arial-label="b_MdpOublie" class="col-start-6 flex items-center justify-center max-h-1 text-[#A23145] bg-[#ffffff] rounded-lg lg:p-4 p-3 lg:font-normal lg:text-lg drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)]">Valider</button>
						</div>
					</form>
				</div>

				{# deuxieme bloc #}
				<div class="grid grid-cols-subgrid row-start-2 col-span-6 bg-[#A23145] bg-opacity-75 text-white rounded-2xl p-4 w-full">
					<h1 class="row-start-1 col-span-6 text-xl">Mes autorisations</h1>

					<div class="grid grid-cols-subgrid row-start-2 col-span-6  text-white rounded-2xl py-2 w-full items-center">
						<label class="inline-flex items-center cursor-pointer col-span-6 justify-between w-full">
							<span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300 max-w-md">J'autorise GureKultura à utiliser mon adresse e-mail et/ou mon numéro de téléphone pour m'envoyer des recommandations personnalisées, des nouveautés pertinentes.</span>
							<div>
								<input type="checkbox" value="" class="sr-only peer">
								<div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
							</div>
						</label>
					</div>

					<div class="grid grid-cols-subgrid row-start-3 col-span-6  text-white rounded-2xl py-2 w-full items-center">
						<label class="inline-flex items-center cursor-pointer col-span-6 justify-between w-full">
							<span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300 max-w-md">J'autorise GureKultura à utiliser et stocker mes données personnelles telles que mes photos, nom et prénom, conformément à leur politique de confidentialité.</span>
							<div>
								<input type="checkbox" value="" class="sr-only peer">
								<div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
							</div>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}