{% extends "base.html.twig" %}
{% block content %}
	<div class="grid grid-cols-12 p-2 gap-y-8 text-text">

		<div class="grid grid-cols-subgrid row-start-1 col-start-1 col-span-12">
			<h2 class="row-start-1 col-start-2 col-span-10 text-2xl lg:text-4xl font-semibold text-center text-title uppercase lg:font-extrabold">Mon compte</h2>
		</div>

		{# infos de l'utilisateur #}
		<div class="grid grid-cols-subgrid row-start-2 col-start-1 col-span-12 gap-2">
    {# infos compte #}
    <div class="row-start-1 col-start-1 col-span-12 flex justify-center items-center">
        {% if user.pfp == null %}
            <img src="../asset/icones/pp_user.svg" alt="photo de profil" class="rounded-full min-h-36 min-w-36 max-h-36 max-w-36 border-2 border-solid border-gray-300">
        {% else %}
            <img src="../asset/user/{{ user.getPfp}}" alt="photo de profil" class="rounded-full min-h-36 min-w-36 max-h-36 max-w-36 border-2 border-solid border-gray-300">
        {% endif %}
    </div>
    <h3 class="row-start-2 col-start-1 col-span-12 font-bold text-lg text-center">{{ user.getPseudo }}</h3>
    <p class="row-start-3 col-start-1 col-span-12 lg:col-start-5 lg:col-span-4 text-center">{{ user.getBio }}</p>
    
    <div class="row-start-4 col-start-4 col-span-6 lg:col-span-4 lg:col-start-5 flex gap-2">
        <button type="button" class="bg-button hover:bg-hbutton text-white text-center rounded-md px-2 py-1 w-full h-fit" onclick="openPopup(1)">Editer le profil</button>
        <form action="index.php?controlleur=compte&methode=deconnexion" method="post" class="w-full">
            <button type="submit" class="bg-button hover:bg-hbutton text-white rounded-md py-1 px-2 w-full">Se déconnecter</button>
        </form>
    </div>
</div>


		{# corps du compte #}
		<div class="grid grid-cols-subgrid row-start-3 col-start-1 col-span-12 gap-2 p-4 border-t-2 border-t-solid border-t-gray-300">
			{% if user.role == 'user' %}
				<div class="grid grid-cols-subgrid row-start-1 col-start-1 col-span-12 lg:col-start-4 lg:col-span-6">
					<label class="row-start-1 col-start-1 col-span-7 lg:col-span-4 ">Souhaitez-vous voir vos évènements ?</label>
					<a href="index.php?controlleur=mesEv&methode=lister " type="" class="col-start-8 col-span-5 lg:col-start-5 lg:col-span-2 bg-button hover:bg-hbutton text-white rounded-lg text-center px-2 py-1 h-fit">Mes évènements</a>
				</div>

				<div class="grid grid-cols-subgrid row-start-2 col-start-1 col-span-12 lg:col-start-4 lg:col-span-6">
					<label class="row-start-1 col-start-1 col-span-7 lg:col-span-4 ">Souhaitez-vous voir vos participations ?</label>
					<a href="index.php?controlleur=mesParticipation&methode=lister" type="" class="col-start-8 col-span-5 lg:col-start-5 lg:col-span-2 bg-button hover:bg-hbutton text-white rounded-lg text-center px-2 py-1 h-fit">Mes participations</a>
				</div>

				{# voir actualité si user = admin #}
			{% else %}
				<div class="grid grid-cols-subgrid row-start-1 col-start-1 col-span-12 lg:col-start-4 lg:col-span-6">
					<label class="row-start-1 col-start-1 col-span-7 lg:col-span-4 ">Souhaitez-vous voir vos actualités ?</label>
					<a href="index.php?controlleur=mesActu&methode=lister " class="col-start-8 col-span-5 lg:col-start-5 lg:col-span-2 bg-button hover:bg-hbutton text-white rounded-lg text-center px-2 py-1 h-fit">Mes actualités</a>
				</div>

				<div class="grid grid-cols-subgrid row-start-2 col-start-1 col-span-12 lg:col-start-4 lg:col-span-6">
					<label class="row-start-1 col-start-1 col-span-7 lg:col-span-4 ">Souhaitez-vous voir les évènements proposés ?</label>
					<a href="index.php?controlleur=validPropEv&methode=lister" type="" class="col-start-8 col-span-5 lg:col-start-5 lg:col-span-2 bg-button hover:bg-hbutton text-white rounded-lg text-center px-2 py-1 h-fit">Liste évènements</a>
				</div>
			{% endif %}

			{# changer de role si user = admin #}
			{% if user.estAdmin %}
				<div class="grid grid-cols-subgrid row-start-3 col-start-1 col-span-12 lg:col-start-4 lg:col-span-6">
					<label class="row-start-1 col-start-1 col-span-7 lg:col-span-3">Voulez-vous changer de rôle ?</label>
					<a href="index.php?controlleur=compte&methode=switchRole" class="col-strat-8 col-span-5 lg:col-start-5 lg:col-span-2 bg-button hover:bg-hbutton text-white rounded-lg text-center px-2 py-1 h-fit">Changer de rôle</a>
					<label for="role" class="row-start-2 col-start-1 col-span-4 lg:ol-span-1 underline">Rôle actuel</label>
					<label for="role" class="row-start-2 col-start-5 col-span-2 lg:col-start-2 lg:col-span-1 font-bold">
						{{ user.role }}
					</label>
				</div>
			{% endif %}
		</div>
	</div>
</div>


{# popup de modification de compte #}
<div id="popup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden z-50 text-text">
	<div class="bg-bg p-6 rounded-lg shadow-lg w-full max-w-xl h-fit max-h-xl">
		<input type="hidden" id="popupModifCompte" name="compte" value="">
		<h2 class="text-xl font-bold text-center mb-4">Modification du compte</h2>
		<form
			action="index.php?controlleur=compte&methode=modifierInfo" method="post" enctype="multipart/form-data" class="grid grid-cols-6 row-start-1 col-start-1 col-span-6 text-text p-2 gap-4 text-sm lg:text-base">
			{# nom #}
			<div class="grid grid-cols-subgrid row-start-2 col-start-1 col-span-6 gap-4">
				<div class="row-start-1 col-start-1 col-span-2 flex flex-row items-center gap-2">
					<img src="../asset/icones/person-vcard (1).svg" alt="nom" class="w-6 h-6  py-1 rounded-md">
					<label for="nom" class="">Nom</label>
				</div>
				<div class="col-start-3 col-span-4 w-full">
					<input name="nom" id="nom" oninput='verifErreurSaisie(nom)' class="row-start-1 w-full border-solid border-2 border-gray-300 rounded-md px-2" value="{{ user.getNom }}">
				</div>
			</div>

			{# email #}
			<div class="grid grid-cols-subgrid row-start-3 col-start-1 col-span-6 gap-4">
				<div class="row-start-1 col-start-1 col-span-2 flex flex-row items-center gap-2">
					<img src="../asset/icones/envelope.svg" alt="email" class="w-6 h-6  py-1 rounded-md">
					<label for="email" class="">Email</label>
				</div>
				<div class="col-start-3 col-span-4 w-full">
					<input name="email" id="email" disabled class="row-start-1 w-full text-text border-solid border-2 border-gray-300 rounded-md px-2" value="{{ user.getEmail }}">
				</div>
			</div>

			{# pseudo #}
			<div class="grid grid-cols-subgrid row-start-4 col-start-1 col-span-6 gap-4">
				<div class="row-start-1 col-start-1 col-span-2 flex flex-row items-center gap-2">
					<img src="../asset/icones/person.svg" alt="pseudo" class="w-6 h-6  py-1 rounded-md">
						<label for="pesudo" class="">Pseudo</label>
				</div>
				<div class="col-start-3 col-span-4 w-full">
					<input name="pseudo" id="pseudo" oninput='verifErreurSaisie(pseudo)' class="row-start-1 w-full text-text border-solid border-2 border-gray-300 rounded-md px-2" value="{{ user.getPseudo }}">
				</div>
			</div>

			{# bio #}
			<div class="grid grid-cols-subgrid row-start-5 col-start-1 col-span-6 gap-4">
				<div class="row-start-1 col-start-1 col-span-2 flex flex-row items-center gap-2">
					<img src="../asset/icones/card-text.svg" alt="bio" class="w-6 h-6  py-1 rounded-md">
					<label for="bio" class="">Biographie</label>
				</div>
				<input name="bio" id="bio" class="row-start-1 col-start-3 col-span-4 text-text border-solid border-2 border-gray-300 rounded-md px-2" value="{{ user.getBio }}">
			</div>

			{# photo profil #}
			<div class="grid grid-cols-subgrid row-start-6 col-start-1 col-span-6 gap-4">
				<div class="row-start-1 col-start-1 col-span-2 flex flex-row items-center gap-2">
					<img src="../asset/icones/image.svg" alt="pfp" class="w-6 h-6  py-1 rounded-md">
					<label for="pfp" class="cursor-pointer">Avatar</label>
				</div>
				<div class="col-start-3 col-span-4 w-full">
					<input oninput='verifErreurSaisie(pfp)' class="row-start-1 bg-transparent flex w-full rounded-md border-2 border-white border-input bg-white text-sm text-text file:border-2 file:bg-text file:text-white file:text-sm cursor-pointer file:cursor-pointer" type="file" name="pfp" id="pfp" accept=".jpg, .png" value=" {{ user.getPfp }}"/>
				</div>
			</div>


			<div class="grid grid-cols-subgrid row-start-7 col-start-1 col-span-6 mt-4">
			<form action="index.php?controlleur=compte&methode=supprimerCompte" method="post" class="gap-4 items-center">
				<label class="row-start-1 col-start-1 col-span-4 text-sm">Souhaitez-vous supprimer votre compte ?</label>
				<button arial-label="b_SupprCompte" class="row-start-1 col-start-5 col-span-2 bg-button hover:bg-hbutton text-white rounded-md py-1 px-2 h-fit text-center">Supprimer</button>
			</form>	
			</div>

			{# bouton de validation/annulation #}
			<div class="row-start-8 col-start-1 col-span-6 flex justify-end gap-2">
				<button type="button" onclick="closePopup(1)" class="px-4 py-2 bg-button hover:bg-hbutton text-white rounded-lg mr-2">Annuler</button>				
				<button type="submit" id="validerFormulaire" class="px-4 py-2 bg-button hover:bg-hbutton text-white rounded-lg">Modifier</button>
				<button type="button" onclick="openPopup(3), closePopup(1)" class="px-4 py-2 bg-button hover:bg-hbutton text-white rounded-lg mr-2"> Changer le mot de passe</button>
			</div>
		</form>

	</div>
</div>

{# popup de modification de mdp #}
<div id="popup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden z-50 text-text">
	<div class="bg-bg p-6 rounded-lg shadow-lg w-full max-w-xl h-fit max-h-xl">
		<input type="hidden" id="popupModifMdp" name="modifMdp" value="">
		<h2 class="text-xl font-bold text-center mb-4 text-title">Modification du mot de passe</h2>
		<form
			action="index.php?controlleur=compte&methode=modifierMdp" method="post" enctype="multipart/form-data" class="grid grid-cols-6 row-start-1 col-start-1 col-span-6 text-text p-2 gap-4 text-sm lg:text-base">
			
			{# nom #}
			<div class="grid grid-cols-subgrid row-start-2 col-start-1 col-span-6 gap-4">
				<div class="row-start-1 col-start-1 col-span-3 flex flex-row items-center gap-2">
					<img src="../asset/icones/lock.svg" alt="mdp" class="w-6 h-6 py-1 rounded-md ">
					<label for="mdp" class="">Mot de passe actuel</label>
				</div>
				<input type="password" name="mdp" id="mdp" class="row-start-1 col-start-4 col-span-5 text-white border-solid border-2 border-gray-300 rounded-md px-2">
			</div>

			{# email #}
			<div class="grid grid-cols-subgrid row-start-3 col-start-1 col-span-6 gap-4">
				<div class="row-start-1 col-start-1 col-span-3 flex flex-row items-center gap-2">
					<img src="../asset/icones/lock.svg" alt="nouvMdp" class="w-6 h-6 py-1 rounded-md ">
					<label for="nouvMdp" class="">Nouveau mot de passe</label>
				</div>
				<input type="password" name="nouvMdp" id="nouvMdp" class="row-start-1 col-start-4 col-span-5 text-white border-solid border-2 border-gray-300 rounded-md px-2">
			</div>

			{# pseudo #}
			<div class="grid grid-cols-subgrid row-start-4 col-start-1 col-span-6 gap-4">
				<div class="row-start-1 col-start-1 col-span-6 flex flex-row items-center gap-2">
					<img src="../asset/icones/lock.svg" alt="confNouvMdp" class="w-6 h-6  py-1 rounded-md">
					<label for="confNouvMdp" class="">Confirmation mot de passe</label>
				</div>
				<input type="password" name="confNouvMdp" id="confNouvMdp" class="row-start-1 col-start-4 col-span-5 text-text border-solid border-2 border-principal rounded-md px-2">
			</div>

			{# bouton de validation/annulation #}
			<div class="row-start-7 col-start-1 col-span-6 flex justify-end gap-2">
				<input type="hidden" name="email" value="{{ user.getEmail }}">   
				<button type="button" onclick="closePopup(3)" class="px-4 py-2 bg-button hover:bg-hbutton text-white rounded-lg mr-2">Annuler</button>
				<button type="submit" class="px-4 py-2 bg-button hover:bg-hbutton text-white rounded-lg">Modifier</button>
				
			</div>
		</form>

	</div>
</div>










<script>
	function openPopup(val) {
		if (val == 1) {
			document.getElementById("popupModifCompte").parentElement.parentElement.classList.remove("hidden");
		} else if (val == 2) {
			document.getElementById("popupParam").parentElement.parentElement.classList.remove("hidden");
		}else if (val == 3) {
			document.getElementById("popupModifMdp").parentElement.parentElement.classList.remove("hidden");
		}
		

}

function closePopup(val) {
		if (val == 1) {
			document.getElementById("popupModifCompte").parentElement.parentElement.classList.add("hidden");
		} else if (val == 2) {
			document.getElementById("popupParam").parentElement.parentElement.classList.add("hidden");
		}else {
			document.getElementById("popupModifMdp").parentElement.parentElement.classList.add("hidden");
		}
}
</script>

<script src="../js/erreurSaisie.js"></script>
{% endblock %}