{% extends "base.html.twig" %}

{% block content %}
	<!-- Contenu spécifique de chaque page -->
	<div class="lg:pt-2">
		<div class="gap-2 p-2 grid grid-cols-12 items-center">

			{# titre de la page #}
			<h2 class="col-span-12 text-title lg:font-extrabold lg:text-4xl text-2xl text-center rounded-2xl p-4 font-semibold uppercase">Actualités du moment</h2>

			<div id="carouselActu" class="row-span-3 col-span-12 relative w-full overflow-hidden mx-auto bg-carousel rounded-lg mb-10" data-slides-default="1" data-slides-mobile="1">
            <!-- Conteneur du carrousel -->
				<div id="carouselActu" class="carousel flex transition-transform duration-500 ease-out gap-2 p-2 auto-rows-auto">
					<!-- Diapositives -->
					{% for actualite in actualites %}
						<div style="background-image: url('../asset/actualite/{{ actualite.img }}')" class="bg-cover bg-no-repeat slide md:w-1/3 w-full flex-shrink-0 text-principal-rouge text-center py-16 rounded-lg relative">
							<FORM ACTION="index.php?controlleur=evtActu&methode=lister" METHOD="POST">
								<INPUT type="hidden" name="nom" value="{{actualite.titre}}">
								<INPUT type="hidden" name="id" value={{actualite.ActuId}}>
								<INPUT type="hidden" name="type" value="Actualites">
								<INPUT TYPE="SUBMIT" VALUE="{{actualite.titre}}" class="bg-white border-principal absolute inset-x-0 bottom-0 text-center rounded-lg p-2 mx-2 mb-2 break-words cursor-pointer">
							</FORM>
						</div>
					{% endfor %}
            	</div>
				<!-- Boutons de navigation -->
				<button id="prevActu" class="absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full"><</button>
				<button id="nextActu" class="absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full">></button>
        	</div>

			{# titre de la page #}
			<h2 class="col-span-12 text-title lg:font-extrabold lg:text-4xl text-2xl text-center rounded-2xl p-4 font-semibold uppercase">Événements du moment</h2>

			{# carte evenement #}
			<div class="col-span-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-10">
				{# afficher les evenements que si is_valid est true #}
				{% for event in events %}
					{% if event.isValide == true %}
						<div class="flex flex-col h-full rounded-2xl bg-card p-4">
							{# Image de l'événement #}
							<div class="flex justify-center items-center">
								<img src="../asset/evenement/photo/{{ event.photo }}" alt="Image de l'événement" class="rounded-lg w-full h-48 object-cover">
							</div>
							{# Infos de l'événement #}
							<div class="text-text text-center">
								<h3 class="break-words text-lg font-semibold">{{ event.titre }}</h3>
								<p class="break-words text-sm">Du {{ event.dateDebut|date("d/m/Y") }} à {{ event.heureDebut|date("H:i") }}</p>
								<p class="break-words text-sm">jusqu'au {{ event.dateFin|date("d/m/Y") }} à {{ event.heureFin|date("H:i") }}</p>
								<p class="break-words text-sm">{{ event.lieu }}</p>
							</div>

							<div class="grid grid-cols-2 auto-cols-fr gap-2 items-center mt-4">
								<FORM action="index.php?controlleur=evtActu&methode=lister" method="POST" class="row-start-1 col-start-1 col-span-1 flex justify-center">
									<INPUT type="hidden" name="nom" value="{{event.titre}}">
									<INPUT type="hidden" name="id" value={{event.evtId}}>
									<INPUT type="hidden" name="type" value="Evenements">
									<INPUT type="SUBMIT" name="{{ event.titre }}" value="EN SAVOIR PLUS" class="text-text text-sm font-bold underline cursor-pointer">
								</FORM>

								<FORM action="index.php?controlleur=cateEvt&methode=lister" method="POST" class="row-start-1 col-start-2 col-span-1 flex justify-center">
									<INPUT type="hidden" name="nom" value="{{event.nomCategorie}}">
									<INPUT type="hidden" name="id" value={{event.cateId}}>
									<INPUT type="hidden" name="type" value="Evenements">
									<INPUT type="SUBMIT" name="{{ event.nomCategorie }}" value="{{ event.nomCategorie }}" class="bg-button w-full hover:bg-hbutton text-tbutton rounded-lg text-sm p-2 font-bold cursor-pointer">
								</FORM>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
<script src="../js/caroussel.js"></script>
{% endblock %}
