{% extends "base.html.twig" %}

{% block content %}
	<!-- Contenu spécifique de chaque page -->
	<div class="m-2">

    <h1 class="text-3xl font-bold text-center text-[#A23145]">Mes événements</h1>

{# mettre une ligne sur deux en gris #}
    <table class="w-full mt-5 rounded-lg text-white text-sm lg:text-md">
        <thead>
            <tr class="bg-[#A23145]">
                <th class="p-2 text-left">Nom</th>
                <th class="p-2 text-left hidden md:block">Date</th>
                <th class="p-2 text-left">Lieu</th>
                <th class="p-2 text-left">Validation</th>
            </tr>
        </thead>
        <tbody>
            {% for evenement in evenements %}
                <tr class="odd:bg-[#A23145] odd:bg-opacity-35 even:bg-[#A23145] even:bg-opacity-75">
                    <td class="p-1">{{ evenement.titre }}</td>
                    <td class="p-1 hidden md:block">{{ evenement.date|date('d/m/Y') }}</td>
                    <td class="p-1">{{ evenement.lieu }}</td>
                    <td class="p-1">
                        {% if evenement.isValid == true %}
                            Validé
                        {% else %}
                            Non validé
                        {% endif %}
                    </td>
                    {# bouton de modification #}
                    <td class="p-1 flex justify-center items-center">
                        <form action="index.php?controlleur=modifEv&methode=modifierEv" method="post">
                            <input type="hidden" name="evtId" value={{ evenement.evtId}}>
                            <button type="submit" class="p-1 rounded-lg h-6 w-6"><img src="../asset/icones/pencil-square.svg" alt="modification"></button>
                        </form>
                    </td>
                    {# bouton de suppression #}
                    <td class="p-1 flex justify-center items-center">
                        <form action="index.php?controlleur=mesEv&methode=supprimerEvent" method="post">
                            <input type="hidden" name="evtId" value={{ evenement.evtId}}>
                            <button type="submit" class="bg-[#A23145] text-white p-1 rounded-lg h-6 w-6"><img src="../asset/icones/trash3.svg" alt="suppression"></button>
                        </form>
                    </td>
                        
                </tr>
            {% endfor %}
    </div>

{% endblock %}