{% extends "base.html.twig" %}

{% block content %}
	<!-- Contenu spécifique de chaque page -->
	<div class="text-[#FF2400] text-center p-4 rounded-md relative">{{ erreurBD }}</div>
		<div
			class="lg:pt-2 bg-cover bg-no-repeat bg-[url('../asset/bg_img.svg')] gap-2 p-2 grid grid-cols-12 items-center">
			{# titre de la page #}
			<h1 class="col-span-12 text-white lg:font-bold lg:text-4xl text-2xl text-center bg-[#A23145] rounded-2xl p-4 drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] mb-10">Propose ton événement</h1>
			<form
				action="index.php?controlleur=propEv&methode=validerFormulairePropEv" method="post" enctype="multipart/form-data" class="lg:grid lg:grid-cols-subgrid col-start-1 col-span-12 flex flex-col gap-2">
				{# premiere ligne #}
				<div class="{{ rouge }} grid grid-cols-subgrid row-start-2 row-span-1 col-start-1 col-span-12 bg-[#A23145] bg-opacity-75 rounded-2xl p-4 w-full drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] gap-2">
					<label for="titre" class="text-white lg:col-span-4 col-span-12 lg:text-lg text-sm">
						Quel est le titre de ton événement 
					</label>
					<input type="text" required minlength="5" maxlength="30" id="titre" name="titre" placeholder="EVENEMENT 1" title="Entrez le nom de votre événement, par exemple : foire au jambon" class="lg:col-span-8 lg:col-start-5 lg:row-start-1 row-start-2 col-span-12 border-2 border-[#A23145] rounded-lg lg:pl-2 pl-1 text-black w-auto drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] lg:py-2 py-1 lg:text-lg text-sm">
					{% if messageErreurs['titre'] is defined and messageErreurs['titre']|length > 0 %}
						<p class="text-white row-start-2 col-start-5 col-span-12">{{ messageErreurs['titre'][0] }}</p>
					{% endif %}
				</div>

				{# deuxieme ligne #}
				<div class="grid grid-cols-subgrid row-start-3 row-span-1 col-start-1 col-span-12 bg-[#A23145] bg-opacity-75 text-white rounded-2xl p-4 w-full drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] gap-2">
					<label for="nomCategorie" class="text-white lg:col-span-4 col-span-8 lg:text-lg text-sm">Quel est le type de ton événement </label>
					<!-- Dropdown Container -->
					<select class="text-black lg:row-start-1 row-start-2 lg:col-start-5 col-span-6 lg:col-span-8 border-2 border-solid border-[#A23145] rounded-lg p-2 drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] lg:text-lg text-sm" name='cateId'>
						<option class="text-gray-400" value="" disabled selected>Selectionnez le type de votre événement</option>
						{% for categorie in categories %}
							<option class="text-black" value="{{categorie.cateId}}">{{ categorie.nom }}</option>
						{% endfor %}
					</select>
				</div>
					
					{# colonne de gauche #}
					<div class="lg:grid lg:grid-cols-subgrid lg:row-start-4 lg:col-start-1 lg:col-span-6 lg:w-full lg:gap-2 lg:h-full col-start-1 col-span-12 row-start-4 flex flex-col gap-2">
						<div class="grid grid-cols-subgrid row-start-1 col-span-6 bg-[#A23145] bg-opacity-75 text-white rounded-2xl w-full p-4 items-center">
							<label for="autorisation" class="row-start-1 col-span-12 text-white lg:col-span-2 lg:text-lg text-sm">Autorisations essentielles</label>
							<input type="file" id="autorisation" name="autorisation" class="lg:row-start-1 row-start-2 lg:col-start-3 col-span-12 lg:text-lg text-sm" accept=".pdf"/>
							{% if messageErreurs['autorisation'] is defined and messageErreurs['autorisation']|length > 0 %}
								<p class="text-white font-xl row-start-3 col-start-1 col-span-6">{{ messageErreurs['autorisation'][0] }}</p>
							{% endif %}
						</div>

						{# bloc #}
						<div class="grid grid-cols-subgrid row-start-2 col-span-6 bg-[#A23145] bg-opacity-75 text-white rounded-2xl p-4 w-full gap-2 ">
							<h1 class="row-start-1 col-span-6 text-xl">Tes coordonnées :</h1>
							<div class="grid grid-cols-subgrid row-start-2 col-span-6  text-white rounded-2xl py-2 w-full items-center">
								<label for="email" class="text-white col-span-2 lg:text-lg text-sm">Email </label>
								<input type="email" required id="email" minlenght="50" maxlenght="100" name="email" placeholder="Exemple@domaine.com" title="Entrez votre adresse mail, par exemple : gurekultura@gmail.com" class="lg:col-start-3 lg:col-span-8 lg:row-start-1 row-start-2 col-start-1 col-span-6 border-2 border-[#A23145] rounded-lg pl-2 text-black w-full drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] py-2 lg:text-lg text-sm">
								{% if messageErreurs['email'] is defined and messageErreurs['email']|length > 0 %}
									<p class="text-white row-start-2 col-start-3 col-span-3">{{ messageErreurs['email'][0] }}</p>
								{% endif %}
							</div>

							<div class="grid grid-cols-subgrid row-start-3 col-span-6  text-white rounded-2xl py-2 w-full items-center">
								<label for="tel" class="text-white col-span-2 lg:text-lg text-sm">Téléphone </label>
								<input type="tel" id="tel" required pattern="^0\d(\s|-|.)?(\d{2}(\s|-|.)?){4}$" name="tel" placeholder="06 07 08 09 10" title="Entrez votre numéro de téléphone, par exemple : 06 07 08 09 10" class="lg:col-start-3 lg:col-span-8 lg:row-start-1 row-start-2 col-start-1 col-span-6  border-2 border-[#A23145] rounded-lg pl-2 text-black w-full drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] py-2 lg:text-lg text-sm">
								{% if messageErreurs['tel'] is defined and messageErreurs['tel']|length > 0 %}
									<p class="text-white row-start-2 col-start-3 col-span-3">{{ messageErreurs['tel'][0] }}</p>
								{% endif %}
							</div>

							<div class="grid grid-cols-subgrid row-start-4 col-span-6  text-white rounded-2xl py-2 w-full items-center">
								<label for="nomRep" class="text-white col-start-1 lg:col-span-3 col-span-6 row-start-1 lg:text-lg text-sm">Nom du représentant de l'événement </label>
								<input type="text" id="nomRep" required minlenght="2" maxlenght="100" name="nomRep" placeholder="EXEMPLE" title="Entre le nom du représentant de l'événement, par exemple : FERREIRA" class="lg:row-start-1 lg:col-start-4 lg:col-span-3 row-start-2 col-start-1 col-span-6  border-2 border-[#A23145] rounded-lg pl-2 text-black w-full drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] py-2 lg:text-lg text-sm">
								{% if messageErreurs['nomRep'] is defined and messageErreurs['nomRep']|length > 0 %}
									<p class="text-white row-start-2 col-start-4 col-span-3">{{ messageErreurs['nomRep'][0] }}</p>
								{% endif %}
							</div>

							<div class="grid grid-cols-subgrid row-start-5 col-span-6  text-white rounded-2xl py-2 w-full items-center">
								<label for="prenomRep" class="text-white col-start-1 lg:col-span-3 col-span-6 row-start-1 lg:text-lg text-sm">Prénom du représentant de l'événement </label>
								<input type="text" id="prenomRep" required minlenght="2" maxlenght="100" name="prenomRep" placeholder="Exemple" title="Entre le prénom du représentant de l'événement, par exemple : Hugo" class="lg:row-start-1 lg:col-start-4 lg:col-span-3 row-start-2 col-start-1 col-span-6  border-2 border-[#A23145] rounded-lg pl-2 text-black w-full drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] py-2 lg:text-lg text-sm">
								{% if messageErreurs['prenomRep'] is defined and messageErreurs['prenomRep']|length > 0 %}
									<p class="text-white row-start-2 col-start-4 col-span-3">{{ messageErreurs['prenomRep'][0] }}</p>
								{% endif %}
							</div>

							<div class="col-span-6 text-white rounded-2xl py-2 w-full items-center">
								<label class="inline-flex items-center cursor-pointer col-span-6 justify-between w-full">
									<span class="ms-3 text-sm font-medium text-gray-300 max-w-md">Autorise-nous à pouvoir te contacter par mail ou téléphone si ton événement est retenus :</span>
									<div>
										<input type="checkbox" value="" class="sr-only peer">
										<div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
									</div>
								</label>
							</div>
						</div>
					</div>


					{# colonne de droite #}
					<div class="lg:grid lg:grid-cols-subgrid lg:row-start-4 lg:col-start-7 lg:col-span-6 lg:w-full lg:gap-2 col-start-1 col-span-12 row-start-5 flex flex-col gap-2 ">
						<div class="grid grid-cols-subgrid row-start-1 col-span-6 bg-[#A23145] bg-opacity-75 text-white rounded-2xl w-full p-4">
							<label for="description" class="text-white col-span-3 pb-3 lg:text-lg text-sm">Décris ton événement </label>
							<textarea type="text" id="description" required minlenght="100" maxlenght="500" name="description" placeholder="Cet événement prend place chaque année ..." title="Entre une description de l'événement pour expliquer en quoi il consiste" class="col-start-1 col-span-6 border-2 border-[#A23145] rounded-lg pl-2 text-black w-full py-2 lg:text-lg text-sm"></textarea>
							{% if messageErreurs['description'] is defined and messageErreurs['description']|length > 0 %}
								<p class="text-white row-start-3 col-start-1 col-span-6">{{ messageErreurs['description'][0] }}</p>
							{% endif %}
						</div>

						{# premier bloc #}
						<div class="grid grid-cols-subgrid row-start-2 col-span-6 bg-[#A23145] bg-opacity-75 text-white rounded-2xl p-4 w-full">
							<h1 class="row-start-1 col-span-6 text-xl">Informations de ton événement :</h1>
							<div class="grid grid-cols-subgrid row-start-2 col-span-6  text-white rounded-2xl py-2 w-full items-center">
								<label for="debutDate" class="text-white col-span-2 lg:col-span-1 lg:text-lg text-sm row-start-1">Du </label>
								<input type="date" id="debutDate" required name="debutDate" title="Entre la date de début de l'événement, par exemple : 06/05/2024" class="col-start-4 col-span-3 lg:col-start-2 lg:row-start-1 row-start-1 lg:col-span-2 border-2 border-[#A23145] rounded-lg pl-2 text-black w-full py-2 lg:text-lg text-sm">
								{% if messageErreurs['debutDate'] is defined and messageErreurs['debutDate']|length > 0 %}
									<p class="text-white row-start-2 col-start-1 col-span-3">{{ messageErreurs['debutDate'][0] }}</p>
								{% endif %}
								<label for="debutHeure" class="text-white lg:col-start-4 col-span-1 col-start-1 lg:text-lg text-sm lg:row-start-1 row-start-2">À </label>
								<input type="time" id="debutHeure" required name="debutHeure"  title="Entre l'heure de début de l'événement, par exemple : 10:28" class="col-start-4 lg:col-start-5 col-span-3 lg:row-start-1 row-start-2 lg:col-span-2  border-2 border-[#A23145] rounded-lg pl-2 text-black w-full py-2 lg:text-lg text-sm">
								{% if messageErreurs['debutHeure'] is defined and messageErreurs['debutHeure']|length > 0 %}
									<p class="text-white row-start-2 col-start-1 col-span-3">{{ messageErreurs['debutHeure'][0] }}</p>
								{% endif %}
							</div>

							<div class="grid grid-cols-subgrid row-start-3 col-span-6  text-white rounded-2xl py-2 w-full items-center">
								<label for="finDate" class="text-white col-span-2 lg:col-span-1 lg:text-lg text-sm">Au </label>
								<input type="date" id="finDate" required name="finDate" title="Entre la date de fin de l'événement, par exemple : 06/05/2024" class="lg:col-start-2 col-start-4 col-span-3 border-2 lg:row-start-1 row-start-1 lg:col-span-2  border-[#A23145] rounded-lg pl-2 text-black w-full py-2 lg:text-lg text-sm">
								{% if messageErreurs['finDate'] is defined and messageErreurs['finDate']|length > 0 %}
									<p class="text-white row-start-2 col-start-4 col-span-3">{{ messageErreurs['finDate'][0] }}</p>
								{% endif %}
								<label for="finHeure" class="text-white lg:col-start-4 col-span-2 row-start-2 col-start-1 lg:row-start-1 lg:text-lg text-sm">À </label>
								<input type="time" id="finHeure" required name="finHeure" title="Entre l'heure de fin de l'événement, par exemple : 10:28" class="lg:col-start-5 col-start-4 col-span-3 border-2 lg:row-start-1 row-start-2 lg:col-span-2  border-[#A23145] rounded-lg pl-2 text-black w-full py-2 lg:text-lg text-sm">
								{% if messageErreurs['finHeure'] is defined and messageErreurs['finHeure']|length > 0 %}
									<p class="text-white row-start-2 col-start-4 col-span-3">{{ messageErreurs['finHeure'][0] }}</p>
								{% endif %}
							</div>

							<div class="grid grid-cols-subgrid row-start-4 col-span-6  text-white rounded-2xl py-2 w-full items-center">
								<label for="lieu" class="text-white col-span-2 lg:col-span-1 lg:text-lg text-sm">Lieu </label>
								<input type="text" id="lieu" required minlenght="50" maxlenght="500" name="lieu" placeholder="1 Rue de l'exemple, 64000 Pau, France" title="Entrez le lieu auquel prend place l'événement, par exemple : 2 Allée du parc Montaury, 64600 Anglet, FRANCE" class="lg:col-start-2 col-start-3 col-span-6 border-2 border-[#A23145] rounded-lg pl-2 text-black w-full py-2 lg:text-lg text-sm">
								{% if messageErreurs['lieu'] is defined and messageErreurs['lieu']|length > 0 %}
									<p class="text-white row-start-2 col-start-2 col-span-3">{{ messageErreurs['lieu'][0] }}</p>
								{% endif %}
							</div>

							<div class="grid grid-cols-subgrid row-start-5 col-span-6  text-white rounded-2xl w-full py-2">
								<label for="photo" class="text-white lg:col-span-2 col-span-6 row-start-1 lg:text-lg text-sm">Photos :</label>
								<input type="file" id="photo" name="photo" accept=".jpg, .png" class="lg:col-start-3 col-start-1 col-span-5 drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] lg:text-lg text-sm" />
								{% if messageErreurs['photo'] is defined and messageErreurs['photo']|length > 0 %}
									<p class="text-white row-start-2 col-start-1 col-span-6">{{ messageErreurs['photo'][0] }}</p>
								{% endif %}
							</div>

						</div>

						{# deuxieme bloc #}
						<div class="grid grid-cols-subgrid gap-4 row-start-3 col-start-1 col-span-6 bg-[#A23145] bg-opacity-75 text-white rounded-2xl p-4 w-full">
							<button arial-label="b_annulerEv" type="reset" class="col-start-5 flex items-center justify-center max-h-1 text-[#A23145] bg-[#ffffff] rounded-lg p-4 font-bold drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] lg:text-lg text-sm">Annuler</button>
							<button arial-label="b_validerEv" type="" class="col-start-6 flex items-center justify-center max-h-1 text-[#A23145] bg-[#ffffff] rounded-lg p-4 font-bold drop-shadow-[0_5px_5px_rgba(0,0,0,0.5)] lg:text-lg text-sm">Valider</button>
						</div>
					</div>
				</form>
			</div>


{% endblock %}

